* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #fffdfd;
  color: #222;
}

header {
  position: fixed;
  background-color: #000000;
  border-bottom: 1px solid #eee;
  padding: 20px 0;

      top: 0;                /* Lo coloca en la parte superior */
      width: 100%;           /* Que ocupe todo el ancho */

      color: #c0005d;
      padding: 15px 20px;
      z-index: 1000;         /* Para que esté por encima del contenido */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #c0005d;
  font-weight: 500;
}

.hero {
  text-align: center;
  padding: 80px 20px 40px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
}

.hero p {
  font-size: 18px;
  margin: 20px 0;
  color: #555;
}

.btn {
  background-color: #c0005d;
  color: #fff;
  padding: 12px 28px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a0004f;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 30px;
}

.product {
  text-align: center;
}

.product img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #777;
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.gallery {
  padding: 60px 20px 40px;
  text-align: center;
}

.gallery h1 {
  font-size: 48px;
  font-weight: 800;
}

.gallery p {
  font-size: 18px;
  margin: 20px 0;
  color: #555;
}

.contact {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.contact h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 20px;
  color: #555;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

form button {
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background-color: #444;
}

.contact-info {
  margin-top: 30px;
}

.contact-info a {
  display: inline-block;
  margin: 10px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}

.listo-para-ti {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.listo-para-ti p {
  font-size: 18px;
  margin: 20px 0;
  color: #555;
}

.listo-para-ti h1 {
 font-size: 48px;
  font-weight: 800;
}

.galeria-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.producto {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s ease;
}

.producto:hover {
  transform: scale(1.03);
}

.producto img {
  width: 100%;
  height: auto;
  display: block;
}

.producto a{
  text-decoration: none;
}

.producto h3 {
  margin: 15px 10px 5px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

.producto p {
  margin: 5px 10px;
  font-size: 14px;
  text-decoration: none;
}

.precio {
  color: #c51e48 !important;
  font-weight: bold;
  text-decoration: none;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .galeria-productos {
    flex-direction: column;
    align-items: center;
  }

  .producto {
    width: 90%;
  }
}
